<html>
<head>
    <title>Page Title</title>
    
    <style>
    h1 {text-align: center;}
    h2 {text-align: center;}
    h3 {text-align: center;}
    h4 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    </style>
    
</head>
<body>

    <h1>This is a Heading</h1>
    <h2>Second Heading</h2>
    <h3>Third</h3>
    <h4>Forth</h4>
    <p>This is a paragraph.</p>

    <p>Here is my variable: {{ visit }}</p>

    

    <center><iframe width="1000" height="600" src="https://www.youtube-nocookie.com/embed/HIcSWuKMwOw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    
    <p>   </p>

    <!-- LikeBtn.com BEGIN -->
    <center><span class="likebtn-wrapper" data-i18n_like="like" data-identifier="item_1"></span></center>
    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
    <!-- LikeBtn.com END -->

    <h1>    </h1>
    <h1>    </h1>

    <center><iframe width="1000" height="600" src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe></center>




    

    <button onclick="location.href='/info'" type="button">
    More Info!
    </button>

    
    
    



</body>>

  



</html>